$nav-bg-color: rgba(0, 0, 0, 0.49);
$nav-text-color: rgb(255,255,255);

.nav {
  padding: 1.5rem;

  background-color: $nav-bg-color;

  &-list {
    display: flex;
    justify-content: space-evenly;
    gap: .5em;


    font-size: 30px;
    font-weight: bold;
    color: $nav-text-color;
  }
}