$nav-bg-color: rgba(0, 0, 0, 0.7);

.header {
  margin-bottom: 2rem;
  background-color: $nav-bg-color;
}

.nav {
  padding: 1.5em;

  &-list {
    display: flex;
    justify-content: space-between;
    gap: 0.5em;

    font-size: 30px;
    font-weight: bold;
  }

  &-item {
    padding: 0.1em 0.3em;
    cursor: pointer;
    transition: scale 100ms ease-in-out;
    border-radius: 15px;
  }

  &-item:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }

  &-item:active {
    scale: 0.9;
    background-color: rgba(255, 255, 255, 0.4);
  }
}
