$shop-bg-color: rgba(0, 0, 0, 0.7);

.shop {
  height: 80vh;

  padding: 1.5em;
  background-color: $shop-bg-color;

  &-title {
    text-align: center;
    margin-bottom: 0.5em;
    font-size: clamp(1.125rem, -0.4688rem + 7.5vw, 3.75rem);
  }
}
